/* ============================================================
   base.css — Reset e tipografia global
   ============================================================ */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif;
  background: var(--bg-deep);
  color: var(--text);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: 'Sora', sans-serif;
  font-weight:700;
  font-size: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
  background: none;
}

input, textarea {
  font-family: inherit;
}

ul {
  list-style: none;
}
